/*****************************/
/* @Categories Widget Styles */
/*****************************/

.widget.categories-widget {
  .widget-title {
    padding: 0;
    a {
      color: #fff;
      text-align: left;
      font-family: $mon;
      text-transform: uppercase;
      display: block;
      padding: 20px 0 20px 30px;
      &:hover {
        background-color: $darkColor;
      }
    }
  }
  .widget-content {
    padding: 0;
    border: none;
    ul {
      li {
        border-left: 1px solid $lightGrayColor;
        border-right: 1px solid $lightGrayColor;
        a {
          font-size: 0.9rem;
          color: #000;
          text-transform: uppercase;
          letter-spacing: .80px;
          border-bottom: 1px solid $lightGrayColor;
          display: block;
          padding: 10px 0 10px 25px;
          position: relative;
          @include transition;
          &:after {
            content: "5";
            font-family: $elegantIcon;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover, &.active {
          a {
            color: $redColor;
          }
          border-right: none;
        }
      }
    }
  }
  .categories-modal {
    position: absolute;
    height: 100%;
    min-height: 350px;
    top: 0;
    left: 100%;
    width: 700px;
    z-index: 1;
    background: #fff;
    box-shadow: 8px 6px 12px rgba(0, 0, 0, 0.175);
    overflow-y: auto;
    display: none;
    border-top: 1px solid $lightGrayColor;
    border-bottom: 1px solid $lightGrayColor;
    border-right: 1px solid $lightGrayColor;
    .block-container {
      padding: 15px;
    }
    a {
      font-size: 1rem;
      &:hover {
        color: $redColor;
      }
    }
    .cat-title {
      font-weight: bold;
      padding-bottom: 10px;
    }
    ul {
      li {
        position: relative;
        margin-bottom: 5px;
        transition: 0.3s all;
        overflow: hidden;
        a {
          font-size: 0.9rem;
          display: block;
        }
        &:before {
          content: "5";
          font-family: $elegantIcon;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: $redColor;
          font-size: 1rem;
          left: -12px;
          transition: 0.3s all;
        }
        &:hover {
          padding-left: 10px;
          a {
            color: $redColor;
          }
          &:before {
            left: -6px;
          }
        }
      }
    }
  }
}

/*********************************/
/* @End Categories Widget Styles */
/*********************************/