/******************************/
/**** @Common Widget Styles ***/
/******************************/

.widget {
  position: relative;
  &.sidebar-widget {
    background: #fff;
    .widget-title {
      text-align: center;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      background-color: $redColor;
      padding: 7px 15px;
      color: #fff;
      letter-spacing: .40px;
    }
    .widget-content {
      padding: 15px;
      border-left: 1px solid $lightGrayColor;
      border-right: 1px solid $lightGrayColor;
      border-bottom: 1px solid $lightGrayColor;
    }
  }
}

/******************************/
/** @End Common Widget Styles */
/******************************/