/***************************************/
/**** @Latest products Widget Styles ***/
/***************************************/

.widget.widget-latest-products {
  .widget-title {
    padding-bottom: 20px;
    h2 {
      font-size: 1.5rem;
      font-family: $pop;
      font-weight: 600;
      color: #000;
    }
  }

  .widget-content {
    .widget-item {
      display: flex;
      .product-item {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding-bottom: 10px;
          .product-image {
            flex-basis: 100%;
            display: flex;
            a {
              flex-basis: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        .product-footer {
          padding-bottom: 10px;
        }
      }
    }
  }
}
 
/***************************************/
/** @End Latest products Widget Styles */
/***************************************/