/******************************/
/**** @Social Widget Styles ***/
/******************************/

.social-widget {
  .social-links {
    display: flex;
    justify-content: center;
    li {
      font-size: 2.5rem;
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .fb-icon {
        color: $fbColor;
        &:hover {
          color: $fbColorHover;
        }
      }
      .insta-icon {
        color: $instagramColor;
        &:hover {
          color: $instagramColorHover;
        }
      }
      .yt-icon {
        color: $youtubeColor;
        &:hover {
          color: $youtubeColorHover;
        }
      }
      .tw-icon {
        color: $twitterColor;
        &:hover {
          color: $twitterColorHover;
        }
      }
    }
  }
}

/******************************/
/** @End Social Widget Styles */
/******************************/