/*******************************/
/* @Subscription Widget Styles */
/*******************************/

.subscribe-widget {
  .widget-content {
    p {
      margin-bottom: 0;
      padding-top: 5px;
    }
  }
}

/***********************************/
/* @End Subscription Widget Styles */
/***********************************/