/***************************/
/****** @Badge Styles ******/
/***************************/

.bdg {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  &.bdg-top-right {
    top: 0;
    right: 5px;
  }
  &.bdg-red {
    color: #fff;
    background-color: $redColor;
  }
  &.bdg-small {
    @include smallBadge;
  }
}

/***************************/
/**** @End Badge Styles ****/
/***************************/