/**************************/
/****** @Base Styles ******/
/**************************/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-size: 0.8rem;;
  line-height: 1.65rem;
  font-family: $pop;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color: #000;
  &:hover, &:focus {
   text-decoration:none;
   outline: none;
  }
}

img {
  max-width: 100%
}

/**************************/
/**** @End Base Styles ****/
/**************************/

