/**************************/
/***** @Button Styles *****/
/**************************/

.btn-add-to-cart {
  background-color: $darkColor;
  color: #fff;
  line-height: 2.4rem;
  border: 1px solid $darkColor;
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .70px;
  padding: 0 15px;
  @include transition;
  font-family: $pop;
  &:hover {
    background: transparent;
    color: $darkColor;
  }
}

.btn-red {
  color: #fff;
  background-color: $redColor;
  &:hover {
    background-color: $lightRedColor;
  }
}

/**************************/
/*** @End Button Styles ***/
/**************************/