/**************************/
/****** @Font Styles ******/
/**************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Poppins:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/**************************/
/**** @End Font Styles ****/
/**************************/