/**************************/
/***** @Footer Styles *****/
/**************************/

footer {
  background-color: $darkColor;
  color: $lightGrayColor;
  padding-top: 60px;
  .footer-navs {
    padding-bottom: 30px;
    .column {
      h3 {
        font-size: 1.25rem;
        color: #fff;
        display: inline-block;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
      }
      a {
        color: $lightGrayColor;
        &:hover {
          color: $redColor;
        }
      }
      &.about {
        padding-right: 100px;
      }
    }
  }
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $moreDarkColor;
    text-align: center;
    font-size: 1rem;
  }
}

/**************************/
/*** @End Footer Styles ***/
/**************************/
