/******************************/
/******* @Header Styles *******/
/******************************/

.header {
  background: $darkColor;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  max-width: $wrapperWidth;
  position: fixed;
  z-index: 999;
  .account_list {
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        letter-spacing: .325px;
        line-height: 2.9rem;
      }
      &:not(.dropdown):hover {
        a {
          color: $redColor;
        }
      }
      .dropdown-menu {
        min-width: 100px;
        padding: 0;
        .dropdown-item {
          padding: 0 10px;
          font-size: 0.9rem;
          color: $pfont;
          line-height: 2.2rem;
          &:hover, &.active {
            background-color: $grayColor;
          }
        }
      }
    }
  }
  .logo-area {
    img.logo {
      max-width: 100%;
      max-height: 90px;
      margin: 0 auto;
    }
  }
  .nav-area {
    flex: auto;
    .icon-nav {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      li {
        color: #fff;
        padding: 5px;
        min-width: 75px;
        position: relative;
        &:hover {
          background-color: rgba(255,255,255,.1);
        }
        span.icon {
          font-size: 1.9rem;
        }
      }
    }
  }
  .advanced_search_area {
    width: 100%;
    .bootstrap-select {
      max-width: 25%;
      min-width: 140px;
      .dropdown-toggle {
        padding: 0;
        line-height: 40px;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        position: relative;
        border-radius: 0;
        background-color: $redColor;
        border-top-left-radius: $buttonRadius;
        border-bottom-left-radius: $buttonRadius;
        &:hover {
          background-color: $lightRedColor;
        }
        &:after {
          content: "\33";
          font-family: $elegantIcon;
          color: #fff;
          width: auto;
          height: auto;
          position: absolute;
          right: 22px;
          top: 50%;
          transform: translateY(-50%);
          border: none;
        }
      }
      .filter-option {
        color: #fff;
        padding-left: 10px;
      }
      .dropdown-menu {
        padding: 0;
        border-radius: 0;
        margin: 0;
        .dropdown-menu.inner {
          li {
            a {
              padding: 0 10px;
              font-size: 0.9rem;
              color: $pfont;
              line-height: 2.2rem;
              &:hover, &.active {
                background-color: $grayColor;
              }
            }
          }
        }
      }
    }
    .input-group {
      input {
        border: none;
        padding: 0 0 0 20px;
        box-shadow: none;
        height: 40px;
        font-size: 0.9rem;
        letter-spacing: .35px;
        border-radius: 0;
        z-index: 1;
        min-width: 130px;
        @include placeholder {
          font-size: 0.9rem;
          font-family: $pop;
          color: $pfont;
          letter-spacing: .35px;
        }
      }
    }
  }
}

/******************************/
/***** @End Header Styles *****/
/******************************/