/**************************/
/***** @Layout Styles *****/
/**************************/

.wrapper {
  max-width: $wrapperWidth;
  background-color: $bgColor;
  margin: 0 auto;
  min-height: 100vh;
  .s-container {
    padding-left: $layoutSpace;
    padding-right: $layoutSpace;
  }
  .left-side {
    width: $sidebarWidth;
    flex: 0 0 $sidebarWidth;
    margin-right: $layoutSpace;
    min-width: 280px;
  }
  .main-section {
    display: flex;
    padding: $layoutSpace;
    padding-top: 130px;
  }
  .product-grid {
    .col {
      flex-basis: 20%;
      flex-grow: 0;
    }
  }
}

/**************************/
/*** @End Layout Styles ***/
/**************************/