/*************************/
/******** @Mixins ********/
/*************************/

// Transition mixin
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Small badge
@mixin smallBadge {
  width: $smallBadgeSize;
  height: $smallBadgeSize;
  line-height: $smallBadgeSize;
}

/*************************/
/****** @End Mixins ******/
/*************************/
