/****************************/
/**** @Responsive styles ****/
/****************************/

@media screen and (max-width: 1800px) {
  .header {
    .advanced_search_area {
      .bootstrap-select {
        .dropdown-toggle {
          &:after {
            right: 10px;
          }
        }
      }
    }
  }
  .wrapper {
    .product-grid {
      .col {
        flex-basis: 25%;
      }
    }
  }
}

@media screen and (max-width: 1740px) {
  .header {
    .advanced_search_area {
      .bootstrap-select {
        .dropdown-toggle {
          &:after {
            right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1660px) {
  .header {
    .nav-area {
      .icon-nav {
        li {
          .label {
            font-size: 0.75rem;
          }
        }
      }
    }
    .advanced_search_area {
      .bootstrap-select {
        .dropdown-toggle {
          &:after {
            right: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1595px) {
  .header {
    .nav-area {
      .icon-nav {
        align-items: center;
        li {
          .label {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1515px) {
  .wrapper {
    .product-grid {
      .col {
        flex-basis: 33.33333%;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    .nav-area {
      .icon-nav {
        justify-content: space-around;
        li {
          min-width: auto;
        }
      }
    }
  }    
}

@media screen and (min-width: 1366px) {
  .product-detail-content {
    .price-block {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1260px) {
  .header {
    .nav-area {
      .col {
        max-width: 100%;
        flex-basis: 100%;
        &:last-child {
          margin-top: 20px;
        }
      }
      .icon-nav {
        justify-content: center;
        li {
          min-width: 75px;
        }
      }
    }
  }
  .wrapper {
    .main-section {
      padding-top: 186px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .wrapper {
    .product-grid {
      .col {
        flex-basis: 50%;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .widget.categories-widget {
    .categories-modal {
      width: 60vw;
    }
  }
}

/****************************/
/** @End Responsive styles **/
/****************************/