/**************************/
/***** @Scrollbar Styles *****/
/**************************/

.mCustomScrollBox {
  .mCSB_scrollTools  {
    width: $scrollbarWidth;
    .mCSB_draggerContainer {
      border: 1px solid #E3E3E3;
      border-radius: $scrollbarBorderRadius;
    }
    .mCSB_draggerRail, .mCSB_dragger .mCSB_dragger_bar {
      border-radius: $scrollbarBorderRadius;
      width: $scrollbarWidth;
    }
    .mCSB_draggerRail {
      background-color: #F1F1F1;
    }
    .mCSB_dragger {
      .mCSB_dragger_bar {
        background-color: $darkColor
      }
    }
  }
}

;


/**************************/
/*** @End Scrollbar Styles ***/
/**************************/
