/****************************/
/******* @Shop Styles *******/
/****************************/

.product-item {
  border: 1px solid $lightGrayColor;
  margin-bottom: 30px;
  background-color: #fff;
  .product-image {
    position: relative;
    img {
      max-width: 100%;
    }
  }
  .product-footer {
    text-align: center;
    height: 80px;
    border-top: 1px solid $lightGrayColor;
    overflow: hidden;
    ul {
      padding-top: 18px;
      margin-bottom: 5px;
      margin-top: -65px;
      transition: all 300ms ease-out;
      li {
        display: inline-block;
        margin-right: 8px;
        &.product-icon {
          vertical-align: top;
          a {
            border: 1px solid $gray;
            font-size: 1.15rem;
            color: $gray;
            display: inline-block;
            padding: 0 10px;
            line-height: 2.4rem;
            position: relative;
            top: 1px;
            @include transition;
            &:hover {
              color: #000;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    h4 {
      font-size: 1rem;
      font-family: $mon;
      font-weight: 600;
      color: #000;
      padding-bottom: 5px;
      padding-top: 16px;
      @include transition;
    }
    h5 {
      font-size: 1.15rem;
      font-family: $mon;
      font-weight: 600;
      color: $baseColor;
      @include transition;
      del {
        font-size: 1.15rem;
        color: $pfont;
      }
    }
  }
  .product-state {
    color: #fff;
    line-height: 1.6rem;
    padding: 0 11px;
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 0.9rem;
    font-family: $pop;
    font-weight: 600;
    text-transform: uppercase;
    &.sale {
      background-color: $redColor;
    }
    &.new {
      background-color: $blueColor;
    }
  }
  &:hover {
    .product-footer {
      ul {
        margin-top: 0;
      }
      h4 {
        opacity: 0;
      }
      h5 {
        opacity: 0;
      }
    }
  }
}

/****************************/
/***** @End Shop Styles *****/
/****************************/