/***************************/
/***** @Sidebar Styles *****/
/***************************/

.sidebar-widget {
  margin-top: $sidebarWidgetSpace;
  &:first-child {
    margin-top: 0;
  }
}

/***************************/
/*** @End Sidebar Styles ***/
/***************************/