/**************************/
/******* @Variables *******/
/**************************/

/* Layout */
$wrapperWidth: 1920px;
$sidebarWidth: 15%;
$sidebarMaxWidth: 300px;
$sidebarMinWidth: 200px;
$layoutSpace: 30px;
$sidebarWidgetSpace: 40px;

/* Fonts */
$mon: 'Montserrat', sans-serif;
$pop: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;
$play: 'Playfair Display', serif;
$elegantIcon: 'ElegantIcons';

/* Colors */
$darkColor: #333;
$moreDarkColor: #1F1F1F;
$baseColor: #d91522;
$redColor: #d91522;
$blueColor: #0b42f2;
$lightRedColor: #E82920;
$dip: #0b1033;
$gray: #999999;
$pfont: #666666;
$grayColor: #ebebeb;
$lightGrayColor: #ccc;
$bgColor: #f0f0f0;
$productRatingStarsColor: #FFFF00;

/* Radius */
$buttonRadius: .25rem;

/* Badges */
$smallBadgeSize: 20px;

/* Icons */
$fbColor: #597BC1;
$fbColorHover: #4267B2;
$instagramColor: #E7639E;
$instagramColorHover: #DD2376;
$youtubeColor: #FF0000;
$youtubeColorHover: #D02422;
$twitterColor: #4FC5F7;
$twitterColorHover: #379BC8;

/* Scrollbar */
$scrollbarWidth: 7px;
$scrollbarBorderRadius: 14px;

/* Product detail */
$productImageCarouselHeight: 350px;
$opacitySlickNavImg: 0.4;

/**************************/
/***** @End Variables *****/
/**************************/