.product-detail-content {
    overflow: hidden;
    .img-box {
        img {
            max-height: 100%;
        }
        .slider-for {
            margin-bottom: 15px;
            border: 1px solid $lightGrayColor;
            background-color: white;
            .slick-slide {
                &.slick-active {
                display: flex;
                align-items: center;
                }
            }
            .slick-slide {
                height: $productImageCarouselHeight;
                img {
                    margin: 0 auto;
                }
            }
        }
        .slider-nav {
            .slick-slide {
                margin-right: 5px;
                opacity: $opacitySlickNavImg;
                img {
                    border: 1px solid $lightGrayColor;
                }
                &.slick-current {
                    opacity: 1;
                        img {
                            border: 2px solid $redColor;
                        }
                }
            }
        }
    }
    .desc {
        border: 1px solid $lightGrayColor;
        background-color: white;
        height: 100%;
        padding: 10px;
        p {
            font-size: 16px;
        }
        .product-label {
            >span {
                display: inline-block;
                padding: 5px 15px;
                font-weight: 700;
                color: #fff;
                background-color: $darkColor;
                margin-bottom: 10px;
            }
        }
        .product-label {
            >span.sale {
                background-color: $baseColor;
            }
        }
        .title {
            text-transform: capitalize;
            font-weight: 700;
        }
        hr {
            border: none;
            color: $lightGrayColor;
            background-color: $lightGrayColor;
            height: 1px;
            margin: 3px 0 3px 0;
        }
        .product-options {
            margin-bottom: 15px;
            margin-top: 15px;
            li {
                display: inline-block;
                margin-right: 6px;
                margin-bottom: 6px;
                a {
                    display: block;
                }
                &.active {
                    a {
                        color: $baseColor;
                        -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px $baseColor;
                        box-shadow: 0 0 0 2px #fff, 0 0 0 3px $baseColor;
                    }
                }
            }
            .size-option {
                margin-bottom: 15px;
                li {
                    a {
                        font-weight: 700;
                        padding: 2px 7px 0 8px;
                    }
                }
            }
            .color-option {
                li {
                    vertical-align: top;
                    padding: 3px;
                    a {
                        width: 20px;
                        height: 20px;
                        padding: 3px;
                    }
                }
            }
        }
        .order {
            .quantity-btn {
                border: 1px solid $grayColor;
                padding: 10px;
                height: 40px;
                background-color: $lightGrayColor;
                &:focus {
                    box-shadow: none;
                }
            }
            .quantity-left-minus {
                border-radius: 5px 0 0 5px;
            }
            .quantity-right-plus {
                border-radius: 0 5px 5px 0;
            }
            .quantity {
                border: none;
                text-align: center;
                height: 40px;
                width: 50px;
            }
            .add-to-cart-btn {
                color: #fff;
                margin: 0 20px;
                background-color: $baseColor;
            }
        }
        .icon-btn {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            color: $darkColor;
            background-color: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0;
        }
        .icon-animate {
            -webkit-transition: 0.3s all;
            transition: 0.3s all;
            -webkit-box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 6px transparent;
            box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 6px transparent;
        }
        .icon-animate:hover, .icon-animate:focus {
            color: $baseColor;
            -webkit-box-shadow: 0 0 0 1px $baseColor inset, 0 0 0 0px $baseColor;
            box-shadow: 0 0 0 1px $baseColor inset, 0 0 0 0px $baseColor;
            border: none;
        }
        .fa-star {
            color: $productRatingStarsColor;
        }
    }
    .tabulation {
        margin-top: 10px;
        .tab-content {
            padding: 10px;
            margin-top: 10px;
            border: 1px solid $lightGrayColor;
            background-color: white;
        }
        .nav-tabs {
            margin: 0 !important;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            border-bottom: none;
            .nav-item.show .nav-link, .nav-link.active {
                color: #fff;
                background: $baseColor;
                border: none;
            }
            .nav-link {
                border: 1px solid $lightGrayColor;
            }
            .nav-link:hover {
                border: 1px solid $lightGrayColor;
            }
            li {
                width: 25%;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                display: flex;
                flex-wrap: wrap;
                a {
                    width: 100%;
                    margin: 0 10px 0 0;
                    padding: 1em 0.5em !important;
                    display: block;
                    color: #4d4d4d;
                    background: white;
                    border-radius: 2px;
                    transition: 0.4s;
                    position: relative;
                    &:hover {
                        background: $lightGrayColor;
                    }
                    &:after {
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        content: '';
                        width: 0;
                        height: 0;
                        margin: 0 auto;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: $lightGrayColor transparent transparent transparent;
                    }
                    &.active {
                        background: $baseColor;
                        border: none;
                        color: #fff;
                        bottom: 0 !important;
                        position: relative;
                        &:after {
                            border-color: $baseColor transparent transparent transparent;
                        }
                        &:hover, &:focus {
                            background: $baseColor;
                            border: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
